/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    padding: 1rem;
    text-align: center;
}

.box {
    padding: 1rem;
    border: 1px solid #000;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2rem);
    row-gap: 0.5rem;
}

.page .page__layout {
    display: flex;
    flex-grow: 1;
    column-gap: 1rem;
}

.page .page__main {
    flex-grow: 1;
}

.page .page__aside {
    flex-basis: calc(100% / 4);
}